<!DOCTYPE html>
<html>
  <head>
    <title>Tweetcreep</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
        <%= render partial: 'layouts/masthead' %>

         <%= yield %>
         
        </div>

      </div>

    </div>

  </body>
</html>
